@define-color background #000000;
@define-color selection #aaaaaa;
@define-color selection-text #000000;
@define-color text #eeeeee;
@define-color red #ff6767;
@define-color green #61ffca;

* {
    font-family: IosevkaTerm Nerd Font;
    font-size: 12px;
    border: none;
    padding: 0;
    margin-top: -1;
    margin-bottom: -1;
    border-radius: 0;
    color: @text;
}

window#waybar {
    background: @background;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 2px;
}

#workspaces button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active, button.focused {
    background: @selection;
}

#workspaces button.active *, button.focused * {
    color: @selection-text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 8px;
    color: @text;
}

#network, #battery {
    padding-right: 12px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 4px;
}

#battery.charging, #battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#battery.warning:not(.charging) {
    color: @red;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.danger:not(.charging) {
    background: @red;
    color: @background;
}


label:focus {
    background-color: @background;
}

#network.disconnected {
    color: @red;
}

#temperature.critical {
    color: @red;
}
