* {
    font-family: Iosevka Nerd Font;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: #161616;
    border-bottom: 1px;
    color: #f2f4f8;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background: #393939;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 8px;
    color: #ffffff;
}

#netowrk, #battery {
    padding-right: 12px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: #42be65;
}

@keyframes blink {
    to {
        color: #161616;
    }
}

#battery.warning:not(.charging) {
    color: #ee5396;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ee5396;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.danger:not(.charging) {
    background: #ee5396;
    color: #161616
}


label:focus {
    background-color: #161616;
}

#network.disconnected {
    color: #ee5396;
}

#temperature.critical {
    color: #ee5396
}
